<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userBD" class="com.rumaiz.struts2Test.bd.impl.UserBDImpl"/>
	<bean id="userSpringAction" class="com.rumaiz.struts2Test.action.UserSpringAction">
		<property name="userBD" ref="userBD" />
	</bean>
</beans>
